/* life-savers-regular - latin */
@font-face {
    font-family: 'Life Savers';
    font-style: normal;
    font-weight: 400;
    src: url('./resources/fonts/life-savers-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./resources/fonts/life-savers-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./resources/fonts/life-savers-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./resources/fonts/life-savers-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./resources/fonts/life-savers-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./resources/fonts/life-savers-v18-latin-regular.svg#LifeSavers') format('svg'); /* Legacy iOS */
}
/* life-savers-700 - latin */
@font-face {
    font-family: 'Life Savers 700';
    font-style: normal;
    font-weight: 700;
    src: url('./resources/fonts/life-savers-v18-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./resources/fonts/life-savers-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./resources/fonts/life-savers-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./resources/fonts/life-savers-v18-latin-700.woff') format('woff'), /* Modern Browsers */
         url('./resources/fonts/life-savers-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./resources/fonts/life-savers-v18-latin-700.svg#LifeSavers') format('svg'); /* Legacy iOS */
}
/* life-savers-800 - latin */
@font-face {
    font-family: 'Life Savers 800';
    font-style: normal;
    font-weight: 800;
    src: url('./resources/fonts/life-savers-v18-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./resources/fonts/life-savers-v18-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./resources/fonts/life-savers-v18-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('./resources/fonts/life-savers-v18-latin-800.woff') format('woff'), /* Modern Browsers */
         url('./resources/fonts/life-savers-v18-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./resources/fonts/life-savers-v18-latin-800.svg#LifeSavers') format('svg'); /* Legacy iOS */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    width: 100vw;
}



/* Left-side logo */

.left-image {
    background-image: url('./resources/tvbackground.jpg');
    background-size: cover;
    width: 40vw;
}

.logo-container {
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    top: 20vh;
    padding: 10px 0;
    height: auto;
}

.logo-container > img {
    width: 15%;
}

.logo-container > img,
.logo-container > h1 {
    opacity: 1;
}

h1 {
    color: white;
    font-family: 'Life Savers 800', sans-serif;
    font-size: 50px;
    letter-spacing: 0.02em;
}



/* Right-side form */

.right-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    background-color: lightgray;
    height: 100vh;
}

span {
    font-style: italic;
}

.top-descriptor,
.middle-form,
.bottom-button {
    padding-left: 40px;
    padding-right: 150px;
}

.top-descriptor {
    padding-bottom: 50px;
    margin-top: -20px;
}

.middle-form {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    padding-top: 20px;
    padding-bottom: 30px;
}

.middle-form > p {
    grid-column: span 2;
}

.middle-form > div {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: rgb(82, 82, 82);
}

input {
    width: 70%;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 3px;
    padding: 3px;
}

.bottom-button {
    padding-top: 30px;
}

button {
    padding: 10px 40px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.link {
    padding-top: 10px;
    display: flex;
}

a {
    text-decoration: none;
    padding-left: 5px;
    transition: transform 0.3s ease-in-out;
}

a:hover {
    transform: scale(1.1);
}