*,
*::before,
*::after {
    /*box-sizing: border-box;*/
    padding: 0;
    margin: 0;
}

html {
    /*position: relative;*/
    min-height: 100%;
}

.container {
    display: flex;
    height: 100vh;
    min-height: 500px;
}



/* Left-side logo */

.left-image {
    background-image: url('./resources/tvbackground.jpg');
}

.logo-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.logo-container > img {
    width: 10%;
}

h1 {
    color: white;
}



/* Right-side form */

.right-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 40px;
}

.middle-form {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.middle-form > p {
    grid-column: span 2;
}

.login-link {
    display: flex;
    align-items: center;
    gap: 10px;
}