*,
*::before,
*::after {
    /*box-sizing: border-box;*/
    padding: 0;
    margin: 0;
}

html {
    /*position: relative;*/
    min-height: 100%;
}

.container {
    display: flex;
    height: 100vh;
    min-height: 500px;
}



/* Left-side logo */

.left-image {
    background-image: url('./resources/tvbackground.jpg');
    background-size: cover;
    width: 40vw;
}

.logo-container {
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-container > img {
    width: 10%;
}

.logo-container > img,
.logo-container > h1 {
    opacity: 1;
}

h1 {
    color: white;
}



/* Right-side form */

.right-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60vw;
}

.top-descriptor,
.bottom-button {
    background-color: lightgray;
}

.top-descriptor,
.middle-form,
.bottom-button {
    padding-left: 40px;
    padding-right: 150px;
}

.middle-form {
    display: grid;
    grid-gap: 15px 60px;
    grid-template-columns: repeat(2, 1fr);
}

.middle-form > p {
    grid-column: span 2;
}

.middle-form > div {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: rgb(104, 104, 104);
}

.login-link {
    display: flex;
    align-items: center;
    gap: 10px;
}